/* @import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Noto+Sans+Mono:wdth,wght@62.5..100,100..900&family=Noto+Sans:ital,wdth,wght@0,62.5..100,100..900;1,62.5..100,100..900&family=Nunito+Sans:ital,opsz,wdth,wght,YTLC@0,6..12,75..125,200..1000,440..540;1,6..12,75..125,200..1000,440..540&family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Noto+Sans+Mono:wdth,wght@62.5..100,100..900&family=Noto+Sans:ital,wdth,wght@0,62.5..100,100..900;1,62.5..100,100..900&family=Nunito+Sans:ital,opsz,wdth,wght,YTLC@0,6..12,75..125,200..1000,440..540;1,6..12,75..125,200..1000,440..540&family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap"); */
/* @import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro"); */
/* @import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600"); */
/* @import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:ital,wght@0,200..900;1,200..900&display=swap"); */
/* @import url("https://cyanprozdrivetowebdomain.on.drv.tw/Documents/Fonts/Source%20Sans%20Pro/Styles.css"); */
/* @import url("https://cyanprozdrivetowebdomain.on.drv.tw/Documents/Fonts/Source%20Code%20Pro/Styles.css"); */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("./Fonts/Source_Sans_3/source-sans-3-ttf.css");
@import url("./Fonts/Source_Code_Pro/styles.css");
/* @import url("./Fonts/Myriad_Pro/style.css"); */

:root {
    --ui-font-family: /* "Source Sans Pro", */ "Source Sans 3", "Open Sans", "Noto Sans", "Noto Color Emoji", system-ui, ui-sans-serif, sans-serif;
    --ui-monospaced-font-family: "Source Code Pro", monospace;
    --ui-font-size: 16px;
    --header-height: 45px;
    --color-success: hsl(120, 100%, 50%);
    --color-success-background-transparent: hsla(120, 100%, 50%, .25);
    --color-info: hsl(212, 100%, 50%);
    --color-info-background-transparent: hsla(212, 100%, 50%, .25);
    --color-warning: hsl(55, 100%, 50%);
    --color-warning-background-transparent: hsla(55, 100%, 50%, .25);
    --color-critical: hsl(0, 69%, 51%);
    --color-critical-background-transparent: hsla(0, 100%, 60%, .25);
    --custom-color-1: #05f;
    --custom-color-1-hover: #0040c0;
    --custom-color-1-active: #002775;
}

:root {
    --background-light: #fff;
    --background-dark: #080808;
    
    --background-hover-light: #efefef;
    --background-hover-dark: #181818;

    --foreground-dark: #111;
    --foreground-light: #f8f8f8;

    --foreground-hover-dark: #212121;
    --foreground-hover-light: #e8e8e8;

    --dialog-background-light: #fff8;
    --dialog-background-dark: #08080888;

    --text-light: #000;
    --text-dark: #fff;

    --selected-text-light: #000;
    --selected-text-dark: #fff;

    --gray-Text-light: #666;
    --gray-Text-dark: #aaa;

    --link-light: #08f;
    --link-dark: #0cf;

    --link-hover-light: #0040bf;
    --link-hover-dark: #009bc2;

    --link-active-light: #002b80;
    --link-active-dark: #006680;

    --border-light: #aaa;
    --border-dark: #333;

    --button-light: #eee;
    --button-dark: #181818;

    --button-hover-light: #f8f8f8;
    --button-hover-dark: #333;

    --button-active-light: #ddd;
    --button-active-dark: #000;

    --scrollbar-thumb-light: #aaa;
    --scrollbar-thumb-dark: #444;

    --scrollbar-thumb-hover-light: #bbb;
    --scrollbar-thumb-hover-dark: #555;

    --scrollbar-thumb-active-light: #999;
    --scrollbar-thumb-active-dark: #333;
}

/* Light Theme */
:root:not(:root.theme--dark),
:root.theme--light,
.theme--light {
    --background: var(--background-light);
    --background-hover: var(--background-hover-light);
    --foreground: var(--foreground-light);
    --foreground-hover: var(--foreground-hover-light);
    --dialog-background: var(--dialog-background-light);
    --text: var(--text-light);
    --selected-text: var(--selected-text-light);
    --gray-Text: var(--gray-Text-light);
    --link: var(--link-light);
    --link-hover: var(--link-hover-light);
    --link-active: var(--link-active-light);
    --border: var(--border-light);
    --button: var(--button-light);
    --button-hover: var(--button-hover-light);
    --button-active: var(--button-active-light);
    --scrollbar-thumb: var(--scrollbar-thumb-light);
    --scrollbar-thumb-hover: var(--scrollbar-thumb-hover-light);
    --scrollbar-thumb-active: var(--scrollbar-thumb-active-light);
}

/* Dark Theme */
:root.theme--dark,
.theme--dark {
    --background: var(--background-dark);
    --background-hover: var(--background-hover-dark);
    --foreground: var(--foreground-dark);
    --foreground-hover: var(--foreground-hover-dark);
    --dialog-background: var(--dialog-background-dark);
    --text: var(--text-dark);
    --selected-text: var(--selected-text-dark);
    --gray-Text: var(--gray-Text-dark);
    --link: var(--link-dark);
    --link-hover: var(--link-hover-dark);
    --link-active: var(--link-active-dark);
    --border: var(--border-dark);
    --button: var(--button-dark);
    --button-hover: var(--button-hover-dark);
    --button-active: var(--button-active-dark);
    --scrollbar-thumb: var(--scrollbar-thumb-dark);
    --scrollbar-thumb-hover: var(--scrollbar-thumb-hover-dark);
    --scrollbar-thumb-active: var(--scrollbar-thumb-active-dark);
}

@media (prefers-color-scheme: dark) {
    /* Dark Theme */
    :root:not(:root.theme--light) {
        --background: var(--background-dark);
        --background-hover: var(--background-hover-dark);
        --foreground: var(--foreground-dark);
        --foreground-hover: var(--foreground-hover-dark);
        --dialog-background: var(--dialog-background-dark);
        --text: var(--text-dark);
        --selected-text: var(--selected-text-dark);
        --gray-Text: var(--gray-Text-dark);
        --link: var(--link-dark);
        --link-hover: var(--link-hover-dark);
        --link-active: var(--link-active-dark);
        --border: var(--border-dark);
        --button: var(--button-dark);
        --button-hover: var(--button-hover-dark);
        --button-active: var(--button-active-dark);
        --scrollbar-thumb: var(--scrollbar-thumb-dark);
        --scrollbar-thumb-hover: var(--scrollbar-thumb-hover-dark);
        --scrollbar-thumb-active: var(--scrollbar-thumb-active-dark);
    }
}

/*@media (prefers-color-scheme: dark) {
    :root {
        --Background: #080808;
        --Foreground: #111;
        --Dialog_Background: #08080888;
        --Text: #fff;
        --Gray-Text: #aaa;
        --Link: #0cf;
        --Link_Hover: #009bc2;
        --Link_Active: #006680;
        --Border: #333;
        --Button: #181818;
        --Button_Hover: #333;
        --Button_Active: #000;
        --Scrollbar_Thumb: #444;
        --Scrollbar_Thumb_Hover: #555;
        --Scrollbar_Thumb_Active: #333;
    }
}*/

/*:root {
    --UI_Font_Family: "Source Sans 3", "Open Sans", "Noto Sans", "Noto Color Emoji", system-ui, ui-sans-serif, sans-serif;
    --UI_Monospace_Font: "Source Code Pro", monospace;
    --UI_Font_Size: 16px;
    --Header_Height: 45px;
    --Color_Info: hsl(208, 100%, 50%);
    --Color_Info_Background_Transparent: hsla(208, 100%, 50%, .25);
    --Color_Warning: hsl(55, 100%, 50%);
    --Color_Warning_Background_Transparent: hsla(55, 100%, 50%, .25);
    --Color_Critical: hsl(0, 100%, 67%);
    --Color_Critical_Background_Transparent: hsla(0, 100%, 50%, .25);
    --Custom_Color_1: #05f;
    --Custom_Color_1_Hover: #0040c0;
    --Custom_Color_1_Active: #002775;
}*/

* {
    /* background-color: var(--background); */
    /* font-family: "Nunito Sans", "Open Sans", "Noto Color Emoji", sans-serif; */
    /* font-stretch: 50%; */
    /* font-variation-settings:
    "wdth" 50,
    "YTLC" 500; */
    color: var(--text);
    /* font-size: 1.5vh; */
    /* scrollbar-width: thin; */
}

:root {
    font-size: 1rem;
}

:root, html, button, input, textarea, #header, #Blog_Search_Container {
    scrollbar-color: var(--scrollbar-thumb) var(--background);
    font-family: var(--ui-font-family);
    -webkit-font-smoothing: antialiased;
    text-rendering: geometricPrecision;
    /* font-display: swap; */
    font-smooth: never;
    text-rendering: optimizeLegibility;
    /* font-optical-sizing: auto; */
    /* font-weight: normal; */
    /* font-style: normal; */
    /* font-stretch: 87.5%; */
    /* font-variation-settings:
    "wdth" 87.5,
    "YTLC" 500; */
    /* font-feature-settings: "ss02" 1, "ss03" 1, "ss04" 1; */
}

button, input, textarea, #header, #Blog_Search_Container {
    font-feature-settings: unset !important;
}

html {
    /* height: max-content; */
    scroll-behavior: smooth;
}

html:not(html.theme--light):not(html.theme--dark) {
    color-scheme: light dark;
}

html.theme--light {
    color-scheme: light;
}

html.theme--dark {
    color-scheme: dark;
}

body {
    margin: 0px;
    background-color: var(--background);
}

::selection {
    background-color: #6668;
    color: var(--selected-text);
}

/* ::-webkit-scrollbar {
    width: 14px;
    height: 14px;
    background-color: var(--foreground);
} */

/* ::-webkit-scrollbar-track {
    border: 0px solid var(--border);
} */

/* ::-webkit-scrollbar-track:horizontal {
    border-width: 1px 0px;
} */

/* ::-webkit-scrollbar-track:vertical {
    border-width: 0px 1px;
} */

/* ::-webkit-scrollbar-thumb {
    margin: 1px;
    border: solid 3px transparent;
    /. border-radius: 2em; ./
    border-radius: 100000vh;
    background-color: var(--scrollbar-thumb);
    background-clip: content-box;
    transition: background-color .2s ease-in-out;
} */

/* ::-webkit-scrollbar-thumb::after {
    content: "Bruh";
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover);
}

::-webkit-scrollbar-thumb:active {
    background-color: var(--scrollbar-thumb-active);
} */

h1,
h1 > a,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    color: var(--text);
    font-weight: bold;
}

h1:not(.widget.Header h1.title), h1 > a, h2, h3, h4, h5, h6 {
    font-family: var(--ui-font-family);
    /* font-stretch: 87.5%; */
    text-transform: capitalize;
}

.widget.Header h1.title {
    font-family: var(--ui-font-family);
}

h1 {
    font-size: 2.4em;
    font-weight: 600;
}

h2 {
    font-size: 2.2em;
    font-weight: 600;
}

h3 {
    font-size: 2em;
    font-weight: 600;
}

h3.post-title.entry-title > a {
    display: block;
    text-decoration: none;
    font-size: inherit;
}

h4/* , h3.post-title.entry-title */ {
    font-size: 1.8em;
    font-weight: 600;
}

h5 {
    font-size: 1.6em;
}

h6 {
    font-size: 1.4em;
}

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a, h3.post-title.entry-title > a {
    font: inherit;
}

.material-symbols-outlined {
    font-size: 1em;
}

.icon--left {
    margin-right: 4px;
}

.icon--right {
    margin-left: 4px;
}

a {
    color: var(--link);
    transition: color .2s ease-in-out;
    text-decoration: none;
    /* text-decoration: underline 1px; */
}

/* a:not(.Dropdown_Item a):not(.Dropdown .header-button > a):not(.button-link):not(.comment-reply):not(.item-control a):not(a.blog-pager-older-link):not(a.blog-pager-newer-link),
a:not(.Dropdown_Item a):not(.Dropdown .header-button > a):not(.button-link):not(.comment-reply):not(.item-control a):not(a.blog-pager-older-link):not(a.blog-pager-newer-link) * { */
a.button-link, a.comment-reply, .item-control a, a.blog-pager-older-link, a.blog-pager-newer-link,
a.button-link, a.comment-reply, .item-control a, a.blog-pager-older-link, a.blog-pager-newer-link * {
    color: var(--text);
    /* text-decoration: none; */
    /* text-decoration: underline 1px; */
}

a:not(.Dropdown_Item a):not(.Dropdown .header-button > a):not(.button-link):not(.post-labels a.post-label):not(.comment-reply):not(.item-control a):not(a.blog-pager-older-link):not(a.blog-pager-newer-link):not(:active):hover,
a:not(.Dropdown_Item a):not(.Dropdown .header-button > a):not(.button-link):not(.post-labels a.post-label):not(.comment-reply):not(.item-control a):not(a.blog-pager-older-link):not(a.blog-pager-newer-link):not(:active):hover * {
    color: var(--link-hover);
}

a:not(.Dropdown_Item a):not(.Dropdown .header-button > a):not(.button-link):not(.post-labels a.post-label):not(.comment-reply):not(.item-control a):not(a.blog-pager-older-link):not(a.blog-pager-newer-link):active,
a:not(.Dropdown_Item a):not(.Dropdown .header-button > a):not(.button-link):not(.post-labels a.post-label):not(.comment-reply):not(.item-control a):not(a.blog-pager-older-link):not(a.blog-pager-newer-link):active * {
    color: var(--link-active) !important;
}

a:not(.Dropdown_Item a):not(.Dropdown .header-button > a):not(.button-link):not(.post-labels a.post-label):not(.comment-reply):not(.item-control a):not(a.blog-pager-older-link):not(a.blog-pager-newer-link):focus,
a:not(.Dropdown_Item a):not(.Dropdown .header-button > a):not(.button-link):not(.post-labels a.post-label):not(.comment-reply):not(.item-control a):not(a.blog-pager-older-link):not(a.blog-pager-newer-link):focus * {
    color: var(--link);
    outline: dotted 1px var(--text);
}

a * {
    color: inherit;
    transition: color .2s ease-in-out;
}

button:not(.header-button),
a.button-link,
a.comment-reply,
a.blog-pager-older-link,
a.blog-pager-newer-link,
.item-control a,
select,
#Translate1 select.goog-te-combo,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="image"],
input[type="color"] {
    border: solid 1px var(--border);
    border-radius: 6px;
    padding: 3px 5px;
    background-color: var(--button);
    font-family: var(--ui-font-family);
    font-size: 1rem;
    transition: background-color .2s ease-in-out, border-color .2s ease-in-out;
    cursor: pointer;
    /* font-size: inherit; */
}

button:not(.header-button):hover,
a.button-link:hover,
a.comment-reply:hover,
a.blog-pager-older-link:hover,
a.blog-pager-newer-link:hover,
.item-control a:hover,
select:hover,
#Translate1 select.goog-te-combo:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="image"]:hover,
input[type="color"]:hover {
    background-color: var(--button-hover);
}

button:not(.header-button):active,
a.button-link:active,
a.comment-reply:active,
a.blog-pager-older-link:active,
a.blog-pager-newer-link:active,
.item-control a:active,
select:active,
#Translate1 select.goog-te-combo:active,
input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="image"]:active,
input[type="color"]:active {
    background-color: var(--button-active);
}

button:not(.header-button):focus,
a.button-link:focus,
a.comment-reply:focus,
a.blog-pager-older-link:focus,
a.blog-pager-newer-link:focus,
.item-control a:focus,
select:focus,
#Translate1 select.goog-te-combo:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="image"]:focus,
input[type="color"]:focus {
    outline: transparent;
    border: solid 1px var(--custom-color-1);
}

button:not(.header-button) * {
    cursor: inherit;
}

a.button-link {
    display: inline-block;
}

select, #Translate1 select.goog-te-combo {
    font-size: 1rem;
    padding: 2px 1px;
}

select:focus, #Translate1 select.goog-te-combo:focus {
    background-color: var(--background);
}

input[type="color"] {
    padding: 4px;
    height: calc(1rem + 3px);
    box-sizing: content-box;
}

a.button-link,
a.comment-reply,
.item-control a,
a.blog-pager-older-link,
a.blog-pager-newer-link {
    text-decoration: none;
}

a.comment-reply,
.item-control a:not(:has(img.icon-action)) {
    display: inline-block;
    padding: 3px 5px !important;
}

.item-control a:has(img.icon-action) {
    display: inline-flex;
    align-items: center;
    padding: 3px;
}

a.blog-pager-older-link,
a.blog-pager-newer-link {
    display: inline-block;
}

a.comment-reply,
a.blog-pager-older-link,
a.blog-pager-newer-link {
    transition: background-color .2s ease-in-out, border-color .2s ease-in-out !important;
    text-decoration: none !important;
}

a.read-more.button-link {
    display: inline-block;
}

button.Upload_File_Button {
    padding-top: 1px;
}

button.Upload_File_Button::before {
    display: inline;
    content: "📄 Upload file:";
}

/* input[type="file"] {
    background-color: #666;
    border: solid 1px white;
} */
textarea,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="number"],
input[type="date"],
input[type="time"],
input[type="datetime-local"] {
    font-family: var(--ui-font-family);
    font-size: 1rem;
    border: solid 1px var(--border);
    border-radius: 4px;
    padding: 3px 5px;
    background-color: var(--background);
    transition: border-color .2s ease-in-out;
}

input[type="number"] {
    padding-right: 2px;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"] {
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 3px;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator,
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    border-radius: 2px;
    padding: 3px;
    transition: background-color .2s ease-in-out;
    background-color: transparent;
    color: #999 !important;
    cursor: pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator:hover,
input[type="time"]::-webkit-calendar-picker-indicator:hover,
input[type="datetime-local"]::-webkit-calendar-picker-indicator:hover {
    background-color: #8888;
}

input[type="date"]::-webkit-calendar-picker-indicator::after,
input[type="time"]::-webkit-calendar-picker-indicator::after,
input[type="datetime-local"]::-webkit-calendar-picker-indicator::after {
    display: block;
    width: 10px;
    height: 10px;
    margin-top: -16px;
    content: "Bruh";
    cursor: pointer;
    background-color: transparent;
    color: #fff;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
input[type="datetime-local"]:focus {
    outline: none;
    border: solid 1px var(--custom-color-1);
}

pre, pre * {
    font-family: var(--ui-monospaced-font-family);
}

fieldset {
    border: solid 1px var(--border);
    border-radius: 8px;
    padding: 8px;
}

table.styled {
    border-collapse: collapse;
    table-layout: fixed;
}

table.styled th,
table.styled td {
    border: 1px solid var(--border);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table.styled td {
    padding: 3px 5px;
    background-color: var(--background);
}

table.styled th {
    padding: 3px 5px;
    background-color: var(--foreground);
}

table.styled.row--hover tr th,
table.styled.row--hover tr td,
table.styled thead.hover tr th,
table.styled tbody.hover tr td {
    transition: background-color .1s ease-in-out;
}

table.styled.hover tr:hover th,
table.styled.hover tr:hover td {
    background-color: var(--foreground-hover);
}

table.styled thead.hover tr:hover th,
table.styled tbody.hover tr:hover td {
    background-color: var(--background-hover);
}

details > summary {
    user-select: none;
    cursor: pointer;
    transition: height .25s ease-in-out;
}

details > summary::marker {
    display: none;
    content: none;
}

details > summary::before, ul.Navigation_Arrows li::before {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: inherit;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

details > summary::before {
    display: inline-block;
    content: "arrow_forward_ios";
    margin-right: 4px;
    line-height: inherit !important;
    vertical-align: text-top;   
    transition: rotate .25s ease-out;
}

details[open] > summary::before {
    rotate: 90deg;
    /* transform: rotate(90deg); */
}

.content-box-template--1 {
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
    /* max-width: 1200px; */
    border: solid 1px var(--border);
    border-radius: 10px;
    background-color: var(--foreground);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.5);
}

.fullscreen {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.dialog-background {
    display: none;
    justify-content: center;
    align-items: center;
    background: var(--dialog-background);
    z-index: 1000000;
    opacity: 1;        
    transition: opacity .25s linear;
}

.dialog-background.shown {
    display: flex;
    opacity: 0;        
}

.dialog {
    border: solid 1px var(--border);
    border-radius: 10px;
    background-color: var(--foreground);
    padding: 16px;
}

#image-viewer .dialog {
    overflow: auto;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
}

#image-viewer .dialog > img {
    display: block;
}

.alert {
    border: var(--border) solid;
    border-radius: 8px;
    border-width: 1px 1px 1px 8px;
    margin: 8px 0;
    padding: 12px;
}

.alert.success {
    border-color: var(--color-success);
    background-color: var(--color-success-background-transparent);
}

.alert.info {
    border-color: var(--color-info);
    background-color: var(--color-info-background-transparent);
}

.alert.warning {
    border-color: var(--color-warning);
    background-color: var(--color-warning-background-transparent);
}

.alert.critical {
    border-color: var(--color-critical);
    background-color: var(--color-critical-background-transparent);
}

.code-box {
    overflow: hidden;
    background-color: var(--foreground);
    border: solid 1px var(--border);
    font-size: 1rem;
    border-radius: 8px;
}

.code-box .programming-language {
    padding: 3px 5px;
    font-size: .9em;
}

.code-box pre {
    margin: 0;
    background-color: var(--background);
    /* font-size: 1rem; */
    font-size: 14px;
    padding: 8px 12px;
    border-radius: 7px;
    line-height: 24px;
}

.code-box .code-colored-text-1 {
    font-family: "Source Code Pro", monospace;
    color: #006eff;
}

.code-box .code-colored-text-2 {
    font-family: "Source Code Pro", monospace;
    color: #29ffff;
}

.code-box .code-colored-text-3 {
    font-family: "Source Code Pro", monospace;
    color: #ff3030;
}

.code-box .code-colored-text-4 {
    font-family: "Source Code Pro", monospace;
    color: #fffc5b;
}

.code-box .code-colored-text-5 {
    font-family: "Source Code Pro", monospace;
    color: #2bff9c;
}

.code-box .code-colored-text-6 {
    font-family: "Source Code Pro", monospace;
    color: #c229ff;
}

#header-contents-footer-layout {
    /* display: grid; */
    /* grid-template-rows: max-content auto; */
    /* position: absolute; */
    /* left: 0; */
    /* right: 0; */
    /* top: 0; */
    /* bottom: 0; */
    /* height: 100vh; */
    /* max-height: 100vh; */
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
}

/* @media screen and (max-width: 1000.9999999999999999px) {
    #header-contents-footer-layout::before {
        background-image: none;
    }

} */

#header {
    display: flex;
    position: sticky;
    top: 0px;
    padding: 0px 0px 0px 0px;
    justify-content: space-between;
    font-size: 1.25rem;
    border-bottom: solid 1px var(--border);
    border-top: none;
    /* border-radius: 0px 0px 10px 10px; */
    background-color: var(--foreground);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
    height: calc(1rem * 2.5 + 1px);
    will-change: top;
    transition: top 1s ease, background-color .125s linear, border-bottom-color .125s linear, box-shadow .125s linear;
    /* width: 100vw; */
    left: 0px;
    right: 0px;
    z-index: 1000;
}

body:has(div#wm-ipp-base) #header {
    top: 65px;
}

body:has(div.skiptranslate > iframe.skiptranslate) #header {
    top: 40px;
}

body:has(div.skiptranslate[style*="display: none"] > iframe.skiptranslate) #header {
    top: 0px;
}

#header > nav > .menu {
    display: inline-flex;
    user-select: none;
    white-space: nowrap;
}

#hamburger-menu-button > span.material-symbols-outlined {
    padding: 8px;
    display: flex;
    align-items: center;
    min-height: 24px;
}

#skip-navigation-button {
    position: absolute;
    height: 100%;
    padding: 6px 10px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 22px;
    text-align: left;
    transform: translateY(-100%);
    transition: .25s transform;
    background-color: var(--custom-color-1);
    z-index: 100;
}

#skip-navigation-button:hover {
    cursor: pointer;
}

#skip-navigation-button:focus {
    transform: translateY(0px);
}

@media screen and (max-width: 964px) {
    .header-button.Under_Construction_Button {
        display: none;
    }
}

.header-dropdown {
    user-select: none;
    display: inline-block;
    position: relative;
}

.header-item {
    display: inline-block;
    padding: 7px 10px;
}

/* .header-dropdown */ .header-button {
    display: block;
    padding: 0;
    height: 100%;
    min-height: 40px;
    border: none;
    border-radius: 0px;
    background-color: transparent;
    font-size: 1.25rem;
    /* font-stretch: 87.5%; */
    /* text-transform: uppercase; */
    /* letter-spacing: 0.1rem; */
    text-align: left;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.25s ease-in-out;
}

/* .header-dropdown */ .header-button {
    display: block;
    padding: 0;
    height: 100%;
    min-height: 40px;
    border: none;
    border-radius: 0px;
    background-color: transparent;
    font-size: 1.25rem;
    /* font-stretch: 87.5%; */
    /* text-transform: uppercase; */
    /* letter-spacing: 0.1rem; */
    text-align: left;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.25s ease-in-out;
}

@media screen and (max-width: 1000.9999999999999999px) {
    /* .header-dropdown */ .header-button {
        height: max-content;
    }

    #header > nav > .menu > .header-button,
    #header > nav > .menu > .header-dropdown > .header-button {
        width: 100%;
    }
}

@media screen and (min-width: 1001) {
    /* .header-dropdown */ .header-button {
        cursor: pointer;
    }

    /* .header-dropdown */ .header-button:hover {
        /* border: solid 1px var(--border);
        border-bottom: none;
        padding: 11px 11px 12px 11px;
        border-radius: 12px 12px 0px 0px;
        z-index: 1000; */
        background-color: #88888844;
    }

    /* .header-dropdown */ .header-button:focus {
        outline: solid 1px var(--custom-color-1);
    }
}

/* .header-dropdown */ .header-button > span {
    display: inline-block;
    padding: 7px 10px;
    /* height: 28px; */
    min-height: 40px;
}

/* .header-dropdown */ .header-button[title] {
    cursor: help;
}

/* .header-dropdown */ .header-button[title] > span {
    cursor: inherit;
}

/* #header /. > nav:nth-child(1) > ./ *:nth-child(1) .header-button:nth-child(1) {
    border-bottom-left-radius: 9px;
    }

    #header /. > nav:nth-last-child(1) > ./ *:nth-last-child(1) .header-button:nth-last-child(1) {
        x  border-bottom-right-radius: 9px;
        } */
/* .header-dropdown */ .header-button span:nth-child(1) {
    font-size: inherit;
}

/* .header-dropdown .header-button > span:nth-child(1)::after {
    content: " &#9662;";
} */
 
/* #header > nav:nth-child(1) > .header-dropdown:nth-child(1) > .header-button */
#cyanproz-button {
    /* border: solid 1px var(--border); */
    /* border-bottom: none; */
    padding: 0px;
    /* padding: 6px 10px; */
    /* padding: 11px 11px 12px 11px; */
    /* border-radius: 12px; */
    z-index: 1000;
    cursor: pointer;
}

@media screen and (max-width: 1000.9999999999999999px) {
    #cyanproz-button {
        font-size: 24px;
    }
}

/* #header > nav:nth-child(1) > .header-dropdown:nth-child(1) > .header-button > a */
#cyanproz-button > a {
    display: inline-block;
    /* border: solid 1px var(--border); */
    /* border-bottom: none; */
    /* padding: none; */
    /* padding: 11px 11px 12px 11px; */
    /* border-radius: 12px; */
    min-height: 40px;
    font-size: inherit;
    font-family: var(--ui-font-family);
    font-weight: bold;
    padding: 6px 10px;
    z-index: 1000;
    cursor: pointer;
}

.header-button.under-construction-button > span {
    line-height: 26px;
}

#header > nav:nth-child(1) > .header-dropdown:nth-child(2) {
    border-radius: 0px 0px 8px 8px;
    font-size: 0px;
}

@keyframes Show_Header_Dropdown_Menu {
    0% {
        display: block;
        /* opacity: 0; */
    }

    100% {
        /* opacity: 1; */
    }
}

@keyframes Hide_Header_Dropdown_Menu {
    0% {
        display: block;
        opacity: 1;
    }

    100% {
        display: none;
        opacity: 0;
    }
}

.header-dropdown .header-button ul.header-dropdown-menu > ul {
    list-style-type: none;
}

@media screen and (min-width: 1000.9999999999999999px) {
    .header-dropdown .header-button .header-dropdown-menu {
        overflow: visible;
        position: absolute;
        z-index: -1;
    }

    .header-dropdown:not(:hover) .header-button .header-dropdown-menu {
        height: 0;
    }

    .header-dropdown:hover .header-button .header-dropdown-menu {
        height: max-content;
    }

    .header-dropdown .header-button .header-dropdown-menu > ul {
        overflow: hidden;
        display: block;
        /* visibility: hidden; */
        padding: 0px;
        background-color: var(--foreground);
        border: solid 1px var(--border);
        border-radius: 10px;
        font-size: 20px;
        text-decoration: none;
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
        margin: 0px;
        opacity: 0;
        /* transition: 0.25s display; */
        /* transition-property: margin-top, opacity; */
        transition: opacity .25s linear/*, height 0.25s ease-in-out, transform .25s ease-out*/, scale .25s ease-out, translate .25s ease-out;
        transform-origin: top;
        translate: 0 calc(-100% - 40px);
        /* transform: scaleY(0); */
        /* scale: 1 0; */
        /* animation: Hide_Header_Dropdown_Menu 0.25s; */
        /* height: 0px; */
    }

    .header-dropdown:hover .header-button .header-dropdown-menu > ul/* , .header-dropdown .header-button:focus .header-dropdown-menu > ul */ {
        overflow: visible;
        visibility: visible;
        display: block;
        /* scale: 1 1; */
        translate: 0 0;
        opacity: 1;
        list-style-type: none;
        /* animation: Show_Header_Dropdown_Menu 0.25s; */
        /* max-height: 100%; */
    }

    .header-dropdown .header-button .header-dropdown-menu > ul::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        /* top: -17px; */
        /* height: 16px; */
        background: transparent;
        cursor: default;
    }

    .header-dropdown .header-button .header-dropdown-menu > ul a.header-dropdown-item,
    .header-dropdown .header-button .header-dropdown-menu > ul li.header-dropdown-item a {
        display: block;
        /* padding: 4px 8px 4px 8px; */
        padding: 8px;
        /* border-radius: 8px; */
        transition-duration: 0.25s;
        text-decoration: none;
        font-size: 1.125rem;
        border-bottom: solid 1px var(--border);
    }

    .header-dropdown .header-button .header-dropdown-menu > ul a.header-dropdown-item:nth-child(1),
    .header-dropdown .header-button .header-dropdown-menu > ul li.header-dropdown-item:nth-child(1) a {
        border-top-left-radius: 9px;
        border-top-right-radius: 9px;
    }

    .header-dropdown .header-button .header-dropdown-menu > ul a.header-dropdown-item:nth-last-child(1),
    .header-dropdown .header-button .header-dropdown-menu > ul li.header-dropdown-item:nth-last-child(1) a {
        border-bottom: none;
        border-bottom-left-radius: 9px;
        border-bottom-right-radius: 9px;
    }

    .header-dropdown .header-button .header-dropdown-menu > ul a.header-dropdown-item:hover,
    .header-dropdown .header-button .header-dropdown-menu > ul li.header-dropdown-item:hover a {
        background-color: var(--button-hover);
    }

    .header-dropdown .header-button .header-dropdown-menu > ul a.header-dropdown-item:active,
    .header-dropdown .header-button .header-dropdown-menu > ul li.header-dropdown-item:active a {
        background-color: var(--button-active);
    }

    /* .header-dropdown .header-button .header-dropdown-menu > ul hr.header-dropdown-item_Separator */
    hr.Separator {
        border: none;
        border-bottom: solid 1px var(--border);
        /* margin: 2px 2px 2px 2px; */
    }
}

@media screen and (min-width: 1000.9999999999999999px) {
    #hamburger-menu-button {
        display: none;
    }
}

@media screen and (max-width: 1000.9999999999999999px) {
    #header .header-button:not(#hamburger-menu-button, #CyanProz_Button, #header > nav > .menu .header-button) {
        display: none;
    }

    #hamburger-menu-button {
        display: inline-block;
        cursor: pointer;
        background-color: #0000;
        backdrop-filter: blur(0px);
    }

    #hamburger-menu-button:has(input[type="checkbox"]:checked) {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        /* width: 100vw; */
        height: 100vh;
        padding: 0px;
        backdrop-filter: blur(4px);
        transition: backdrop-filter .4s linear;
        /* transform: translateX(0); */
        cursor: default;
    }

    #header > nav > .menu {
        overflow: auto;
        display: flex;
        flex-direction: column;
        position: absolute;
        border-right: solid 1px var(--border);
        width: 240px;
        height: 100vh;
        /* height: max-content; */
        transform: translateX(-100%);
        transition: transform .4s cubic-bezier(0, 0, 0, 1);
        background-color: var(--background);
    }

    #header > nav:has(#hamburger-menu-button > input:checked) > .menu {
        transform: translateX(0);
    }

    #header > nav > .menu > .header-button {
        width: 100%;
    }

    #header > nav > .menu > #CyanProz_Button.header-button > a {
        box-sizing: border-box;
        width: 100%;
    }

    /* .header-dropdown {
        position: absolute;
        padding: 0px;
        background-color: var(--foreground);
        border: solid 1px var(--border);
        border-top: none;
        border-radius: 0px 0px 12px 12px;
        font-size: 20px;
        text-decoration: none;
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 1);
        margin: 0px;
        margin-left: -10px;
        margin-top: 7px;
        opacity: 0;
        transition: opacity .25s ease-in-out, /*hetransform .25s ease-out;
        transform-origin: center top;
        transform: scaleY(0);
        overflow: hidden;
    } */
    
    #header > nav > .menu .header-dropdown .header-button > span {
        margin: 7px 10px;
        border-bottom: solid 2px var(--custom-color-1);
        padding: 0px;
        min-height: 0;
    }

    .header-dropdown .header-button .header-dropdown-menu > ul {
        margin: 0px;
        padding-left: 0px;
        font-size: 20px;
        text-decoration: none;
        transition: none;
    }

    .header-dropdown .header-button:hover .header-dropdown-menu > ul/* , .header-dropdown .header-button:focus .header-dropdown-menu > ul */ {
        visibility: visible;
        display: block;
        transform: scaleY(1);
        /* transform: translateY(0px); */
        opacity: 1;
        /* animation: Show_Header_Dropdown_Menu 0.25s; */
        /* max-height: 100%; */
    }

    .header-dropdown .header-button .header-dropdown-menu > ul li.header-dropdown-item::before {
        content: "";
        margin-left: 0px;
        margin-right: 10px;
        width: 12px;
        height: 12px;
        transition: margin .25s ease-in-out;
    }

    .header-dropdown .header-button .header-dropdown-menu > ul li.header-dropdown-item:hover::before {
        margin-left: 5px;
        margin-right: 5px;
    }

    .header-dropdown .header-button .header-dropdown-menu > ul li.header-dropdown-item a {
        /* display: block; */
        /* padding: 4px 8px 4px 8px; */
        /* padding: 8px; */
        /* border-radius: 8px; */
        /* transition-duration: 0.25s; */
        text-decoration: none;
        font-size: 18px;
        /* border-bottom: solid 1px var(--border); */
    }
}

#header > nav:nth-child(2) {
    transition: flex-grow .25s cubic-bezier(0, 0, 0, 1);
}


/* Avoid some of Bootstrap's built-in styles */
body {
    font-family: var(--ui-font-family);
    font-size: 1rem;
    font-weight: unset;
    line-height: normal;
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--background);
    /* -webkit-text-size-adjust: 100%; */
    /* -webkit-tap-highlight-color: transparent; */
}

h1, h1 > a, h2, h3, h4, h5, h6 {
    line-height: normal;
}

button, input, optgroup, select, textarea {
    line-height: normal;
}

textarea {
    resize: both;
}

legend {
    float: none;
    width: initial;
    padding-inline: 2px;
    margin-inline: 2px;
    margin-bottom: initial;
    font-size: 1rem;
}
