@font-face {
    font-family: "Source Sans 3";
    font-weight: 100;
    font-style: italic;
    font-display: swap;
    src: url(./static/SourceSans3-ExtraLightItalic.ttf) format("truetype");
}
@font-face {
    font-family: "Source Sans 3";
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url(./static/SourceSans3-ExtraLight.ttf) format("truetype");
}
@font-face {
    font-family: "Source Sans 3";
    font-weight: 200;
    font-style: italic;
    font-display: swap;
    src: url(./static/SourceSans3-LightItalic.ttf) format("truetype");
}
@font-face {
    font-family: "Source Sans 3";
    font-weight: 200;
    font-style: normal;
    font-display: swap;
    src: url(./static/SourceSans3-Light.ttf) format("truetype");
}
@font-face {
    font-family: "Source Sans 3";
    font-weight: 600;
    font-style: italic;
    font-display: swap;
    src: url(./static/SourceSans3-SemiBoldItalic.ttf) format("truetype");
}
@font-face {
    font-family: "Source Sans 3";
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url(./static/SourceSans3-SemiBold.ttf) format("truetype");
}
@font-face {
    font-family: "Source Sans 3";
    font-weight: bold;
    font-style: italic;
    font-display: swap;
    src: url(./static/SourceSans3-BoldItalic.ttf) format("truetype");
}
@font-face {
    font-family: "Source Sans 3";
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    src: url(./static/SourceSans3-Bold.ttf) format("truetype");
}
@font-face {
    font-family: "Source Sans 3";
    font-weight: 800;
    font-style: italic;
    font-display: swap;
    src: url(./static/SourceSans3-BlackItalic.ttf) format("truetype");
}
@font-face {
    font-family: "Source Sans 3";
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src: url(./static/SourceSans3-Black.ttf) format("truetype");
}
@font-face {
    font-family: "Source Sans 3";
    font-weight: normal;
    font-style: italic;
    font-display: swap;
    src: url(./static/SourceSans3-Italic.ttf) format("truetype");
}
@font-face {
    font-family: "Source Sans 3";
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url(./static/SourceSans3-Regular.ttf) format("truetype");
}