/* @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); */
/* @import url("https://cyanproz.github.io/common-styles.css"); */
:root {
    --os-arrow-cursor: url(GexOS_Cursor.cur), default;
    --scrollbar-track: #fff;
}

@keyframes bounce-rotation {
    0%
    {
        transform: rotate(-12.5deg);
    }

    50%
    {
        transform: rotate(12.5deg);
    }

    100%
    {
        transform: rotate(-12.5deg);
    }
}

@keyframes open-window {
    0%
    {
        filter: opacity(0%);
        transform: scale(0, 0);
    }

    25%
    {
        filter: opacity(100%);
        transform: scale(1, 1);
    }
}

@keyframes close-window {
    0%
    {
        /* display: none; */
        filter: opacity(100%);
        transform: scale(1, 1);
    }

    100%
    {
        display: none;
        filter: opacity(0%);
        transform: scale(0, 0);
    }
}

@keyframes fade-out {
    100%
    {
        filter: opacity(0%);
    }
}

.bounce-rotation-element {
    animation: bounce-rotation 5s ease-in-out infinite;
}

.rainbow-background-element {
    animation: rainbow-background 10s linear infinite;
}

.rainbow-foreground-element {
    animation: rainbow-foreground 10s linear infinite;
}

.open-window {
    animation: open-window .5s linear;
}

.close-window {
    /* animation: close-window 0.3s cubic-bezier(0, 0, 0, 1); */
    animation: close-window 0.3s cubic-bezier(0, 0, 1, 0);
    /* animation: close-window 0.3s linear; */
}

:root {
    --custom-color-1: #05f;
    --custom-color-1-hover: #0040c0;
    --custom-color-1-active: #002775;
    --link: #08f;
    --link-hover: #0040c0;
    --link-active: #002775;
}

@media (prefers-color-scheme: light) {
    :root {
        --background: #fff;
        --foreground: #f8f8f8;
        --text: #000;
        --gray-Text: #666;
        --border: #888;
        --button: #eee;
        --button-hover: #f8f8f8;
        --button-active: #ddd;
        --scrollbar-thumb: #aaa;
        --scrollbar-thumb-hover: #bbb;
        --scrollbar-thumb-active: #999;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #080808;
        --foreground: #111;
        --text: #fff;
        --gray-Text: #aaa;
        --border: #333;
        --button: #181818;
        --button-hover: #333;
        --button-active: #000;
        --scrollbar-thumb: #444;
        --scrollbar-thumb-hover: #555;
        --scrollbar-thumb-active: #333;
    }
}

@media (prefers-color-scheme: dark) {
    button, select, option
    {
        background-color: #222;
    }

    .menus
    {
        background-color: #eeeeee80;
    }

    /* .window, .window-body
    {
        color: white;
        background-color: #222;
    } */
    
    .window
    {
        background-color: transparent;
    }

    .window-body
    {
        background-color: #222;
    }

    .window-caption-bar
    {
        background-color: #3334;
    }

    .window-caption-bar-name
    {
        text-shadow: 0px 0px 8px #ffffff;
    }

    /* ::-webkit-scrollbar
    {
        background-color: #222;
    }

    ::-webkit-scrollbar-thumb
    {
        background-color: #444;
    }

    ::-webkit-scrollbar-thumb:hover
    {
        background-color: #555;
    }

    ::-webkit-scrollbar-thumb:active
    {
        background-color: #444;
    } */
}

/* *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6):not(.window-caption-bar-button-group):not(.window-caption-bar-button-group)*/
#main-session-screen { 
    font-family: var(--ui-font-family);
    font-size: 16px;
    /* font-family: 'Ubuntu', sans-serif; */
}

#main-session-screen, button { 
    color: var(--text);
}

*:not(.user-selectable):not(.user-selectable *):not(#header-container):not(#header-container *):not(#blog-container):not(#blog-container *) {
    user-select: none;
}

.user-selectable, #header-container, #header-container *, #blog-container, #blog-container * {
    user-select: text;
}

/* *:hover {
    cursor: var(--azgrin-os-arrow-cursor);
} */

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

/* ::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:vertical::before {
    content: '=';
}

::-webkit-scrollbar-thumb:horizontal::before {
    content: '||';
} */

/* ::-webkit-progress-bar {
    background-color: aqua;
} */

/* ::-webkit-scrollbar-corner {
    background: #222;
} */

::-webkit-scrollbar-button:single-button:increment {
    width: 12px;
    height: 12px;
    background-color: #f00;
}

::-webkit-scrollbar-button:single-button:decrement {
    width: 12px;
    height: 12px;
    background-color: #00f;
}

/* ::-webkit-scrollbar-button:single-button:increment::before,
::-webkit-scrollbar-button:single-button:decrement::before {
    left: -12px;
    top: -12px;
    width: 12px;
    height: 12px;
    background-color: #0f0;
} */

::-webkit-scrollbar-thumb {
    background-color: #dfdfdf;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px gray, inset 2px 2px #dfdfdf;
}

::-webkit-scrollbar-track {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='2' height='2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 0H0v1h1v1h1V1H1V0z' fill='silver'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 0H1v1H0v1h1V1h1V0z' fill='%23fff'/%3E%3C/svg%3E");
}

/* ::-webkit-scrollbar-button {
    background-color: #dfdfdf;
} */

html {
    /* position: absolute; */
    scroll-behavior: smooth;
    /* margin-top; */
}

body {
    /* position: absolute; */
    /* height: 100%; */
    margin: 0px;
    /* margin-top: 22px; */
    /* height: 23px; */
    /* justify-content: center;
    align-items: center; */
    /* height: 200vh; */
    background-image: url(Tiled_1.png);
	overflow: hidden;
}

/* button {
    min-width: 80px;
} */

hr {
    margin: 4px;
    border: solid 1px black;
}

input[type="text"], textarea {
    background-color: white;
    border: solid 1px grey;
    border-radius: 5px;
    /* transition: 0.3s; */
}

input[type="text"]:focus, input[type="text"]:hover, textarea:focus, textarea:hover {
    border-bottom: solid 1px blue;
    background-color: #eee;
    border-radius: 5px 5px 0px 0px;
    transition: 0.3s;
}

progress {
    width: 100px;
    height: 20px;
}

#desktop {
    height: 100vh;
    background-image: url(https://wallpapers.com/images/hd/view-background-s7kpfnpr7qs123bm.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#boot {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 9999999;
    background-color: black;
    font-family: var(--ui-monospaced-font-family);
}

#shutdown-dialog {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 1999999;
    background-color: #00000088;
    backdrop-filter: blur(4px);
    align-items: center;
}

#shutdown-dialog > dialog {
    position: absolute;
    top: 50%;
    bottom: 50%;
    padding: 0px;
    background-color: #222;
    color: white;
    border: solid 1px black;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 8px 8px 6px rgba(0, 0, 0, 0.5);
}

#shutdown-dialog > dialog > header {
    background-color: #444;
    border-radius: 9px 9px 0px 0px;
    text-align: center;
}

/* #shutdown-dialog > dialog #shutdown-dialog-body */
#shutdown-dialog > dialog div {
    padding: 10px;
    border-radius: 0px 0px 9px 9px;
}

#shutdown-dialog > dialog button {
    border: solid 1px black;
    border-radius: 5px;
    transition-duration: 0.3s;
}

#shutdown-dialog > dialog button:hover {
    background-color: #333;
}

#shutdown-dialog > dialog button:active {
    background-color: #222;
}

#docks-and-working-area-layout {
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: grid;
    grid-template-rows: max-content auto max-content;
}

#menu-bar {
    order: 0;
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    z-index: 999999;
    /* background-image: linear-gradient(90deg, magenta, cyan); */
    background: var(--foreground);
    border-bottom: solid 1px black;
    box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.5);
}

#docks-and-working-area-layout:has(#working-area .window .window-maximize-and-restore-button > input[type="checkbox"]:checked) > #menu-bar {
    box-shadow: none;
}

#working-area {
    order: 1;
}

.menu-bar-menus {
    display: flex;
    padding: 0px 10px 0px 10px;
    background-color: transparent;
    transition-duration: 0.3s;
}

.menu-bar-menus:hover {
    /* position: absolute; */
    background-color: #00000020;
}

.menu-bar-menus:active {
    background-color: #00000040;
}

/* .menu-bar-menus > div */
/* { */
    /* position: absolute; */
    /* display: none; */
    /* margin-left: -10px; */
    /* margin-top: 22px; */
    /* width: max-content; */
    /* background-color: #eeeeee88;
    border: solid 1px black;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.5); */
    /* filter: blur(4px); */
    /* backdrop-filter: blur(4px); */
/* } */
.menu-bar-menus:hover > div {
    display: block;
}

.menu-bar-menus > div > div {
    padding: 0px 10px 0px 10px;
    background-color: transparent;
    transition-duration: 0.3s;
}

.menu-bar-menus > div > div:hover {
    background-color: #00000020;
}

.menu-bar-menus > div > div:active {
    background-color: #00000040;
}

#taskbar {
    order: 2;
    display: flex;
    position: relative;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.window {
    /* display: grid;
    grid-template-rows: fit-content 100% 10px; */
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: absolute;
    left: 20px;
    top: 42px;
    /* transform: translate(-50%, -50%); */
    /* transform-origin: center top; */
    min-width: 160px;
    min-height: 28px;
    width: fit-content;
    height: fit-content;
    /* color: black; */
    /* background-color: white; */
    border: solid 1px black;
    border-radius: 10px 10px 0px 0px;
    /* top: 50%;
    left: 50%; */
    /* top: calc(50% / 2);
    left: calc(50% / 2); */
    box-shadow: 0px 8px 16px 8px rgba(0, 0, 0, 0.5);
    resize: both;
	overflow: hidden;
    will-change: top, left;
}

.window.dragging {
    /* transition: transform .01s ease-in-out; */
    transform-origin: center top;
}

.window.maximizing-or-restore-down-animation {
    transition: border-width .5s cubic-bezier(0, 0, 0, 1), border-radius .5s cubic-bezier(0, 0, 0, 1), top .5s cubic-bezier(0, 0, 0, 1), left .5s cubic-bezier(0, 0, 0, 1), width .5s cubic-bezier(0, 0, 0, 1), height .5s cubic-bezier(0, 0, 0, 1);
}

.window:has(.window-maximize-and-restore-button > input[type="checkbox"]:checked) /* Window when maximized */ {
    top: 23px !important;
    left: 0px !important;
    /* right: 0px !important; */
    /* bottom: 0px !important; */
    width: 100% !important;
    height: 100% !important;
    border-width: 0px;
    border-radius: 0px;
}

.window::-webkit-scrollbar {
    display: none;
}

.window-caption-bar {
    border-bottom: solid 1px black;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 2px;
    height: 22px;
    /* background-image: linear-gradient(90deg, magenta, cyan); */
    text-align: center;
    backdrop-filter: blur(10px);
}

.window:has(.window-maximize-and-restore-button > input[type="checkbox"]:checked) .window-caption-bar {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.window-caption-bar:active {
    cursor: move;
}

/* .window-caption-bar:hover {
    cursor: default;
    cursor: grab;
}

.window-caption-bar:active {
    cursor: move;
    cursor: grabbing;
} */

.window-caption-bar-name {
    background-color: transparent;
    text-shadow: #000 0px 0px 8px, #000 0px 0px 8px;
}

.window-caption-bar-button-group {
    position: absolute;
    display: flex;
    gap: 2px;
    height: 22px;
    top: 2px;
    right: 2px;
    background-color: transparent;
    /* font-family: "Webdings"; */
    font-size: 4px;
}

.window-caption-bar-button {
    border: none;
    width: 18px;
    height: 18px;
    margin: 2px;
    padding: 0px;
    background-color: transparent;
    /* border: solid 1px black; */
    /* box-shadow: 0px 4px 4px 0px rgb(0, 0, 0, 0.5); */
    /* border-radius: 5px; */
    border-radius: 100%;
    text-align: center;
    font-family: inherit;
    transition-duration: 0.5s;
}

.window-caption-bar-button > span.material-symbols-outlined {
    position: relative;
    /* top: 2px; */
    padding: 3px;
    font-size: 12px;
    text-shadow: #000 0px 0px 8px, #000 0px 0px 8px;
}

.window-caption-bar-button:hover {
    background-color: #00000044;
}

.window-caption-bar-button:active {
    cursor: default;
    background-color: #00000088;
}

.window-caption-bar-button::before {
    position: relative;
    top: 3px;
}

/* .window-minimize-button {
} */

/* .window-maximize-and-restore-button {
} */

.window-maximize-and-restore-button:not(.window-maximize-and-restore-button:has(input[type="checkbox"]:checked)) > span.icon.restore.material-symbols-outlined {
    display: none;
}

.window-maximize-and-restore-button:has(input[type="checkbox"]:checked) > span.icon.maximize.material-symbols-outlined {
    display: none;
}

/* .window-close-button {
} */

.window-close-button:hover {
    transition-duration: 0.5s;
    background: red;
}

.window-close-button:active {
    transition-duration: 0.5s;
    color: white;
    background: darkred;
}

.window-body {
    /* height: calc(100% - 27px); */
    /* height: 100%; */
    flex-grow: 1;
    /* margin-bottom: 10px; */
    /* padding: 10px; */
    /* background-color: white; */
    justify-content: center;
    align-items: center;
    /* font-size: 100px; */
}

.window-body:hover {
    cursor: url(Bruh_Cursor.png), default;
}

.menus {
    position: absolute;
    display: none;
    margin-left: -10px;
    margin-top: 22px;
    /* width: max-content; */
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.5);
    /* filter: blur(4px); */
    backdrop-filter: blur(4px);
}

#header-container .title {
    margin-top: 0px;
}
